/* AJUSTMENTS NEEDED */

audio::-internal-media-controls-download-button {
    display:none;
}

audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}

audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* eigenlijk niet meer nodig*/
}



progress {
height:10px;
}
progress::-webkit-progress-bar {
	background-color:rgba(255, 255, 255, 0.9) ;
}
progress::-webkit-progress-value {
	background-color:#ba9e7b;
}
progress::-moz-progress-bar {
}





/*naar licht aanpassingen*/
.mobileui-music-cover h1, .mobileui-music-cover-controls .play {
    color: #000000 !important;
}
.ion-ios-play{
	left:2px; position:relative;
	}

.mobileui-music-cover-controls .play {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid !important;
	left:11px;
	height: 37px !important;
    width: 37px !important;
    line-height: 36px !important;
    text-align: center;
    margin-left: -18px !important;
    font-size: 30px;
    bottom: 0px;
	
	}

.mobileui-music-cover h2, #tijdindicatie, #totaaltijd {
    color: rgba(0,0,0,0.7) !important;
}

.heading-strip i,p,h3 {
	color:#1f1f1f !important}


.super-light-overlay {
    background-color: rgba(255,255,255,0.8);
}


.sluitKnop{
    position:absolute;
    z-index:99;
    color:rgba(0,0,0,0.7);
    font-size:28px;
    height:110px;
    line-height:110px;
    width:50px;
    top:50px;
    right:0px;
}


.knopjes-sub {
	width:100%;
	text-align:center;
}
.knopjes-sub > div {
	width: calc(100% / 3);  
 	display: inline-block;
	vertical-align: top;   
 	text-align:center;
	 margin:2%;
	 padding:1%;    
}



.meerknopjes-sub {
	width:100%;
	text-align:center;
}
.meerknopjes-sub > div {
	width: calc(100% / 5);  
 	display: inline-block;
	vertical-align: top;   
 	text-align:center;
	 margin:2%;
	 padding:1%;    
}

.homeknopjes-sub {
	width:100%;
	text-align:center;
	color:#000;
}
.homeknopjes-sub > div {
	width: calc(100% / 3);  
 	display: inline-block;
	vertical-align: top;   
 	text-align:center;
	 margin:2%;
	 padding:1%;    
}



/*Header*/

.header{
    position:fixed;
    z-index:9;
    left:0px;
    right:0px;
    height:60px;
}

.header-dark{background-color:#0c1117;}
.header-dark h1{color:#FFFFFF;}
.header-dark a{color:#FFFFFF;}

.header-light{background-color:#ba9e7b; border-bottom:solid 1px rgba(0,0,0,0.05);}
.header-light h1{color:#191919;}
.header-light a{color:#191919;}


.header h1{
    width:100px;
    line-height:60px;
    padding-left:25px;
    font-size:20px;
   /* text-transform: uppercase;*/
    font-weight:300;
}

.header .landing-deploy{
    position:absolute;
    top:0px;
    right:10px;
    height:60px;
    width:70px;
    line-height:60px;
    text-align:center;
    font-size:20px;
}

body{
    background-image:url(../images/pictures/bg.jpg);
    background-position: top left;
    background-repeat:repeat;
}

/*Dropdown Landing Menu*/

.landing-menu{
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    right:0px;
    z-index:10;
    overflow:hidden;
    transition:all 250ms ease;
    background-size:cover;
    background-position:center center;
    background-image:url(../images/pictures/bg.jpg);
}

.landing-menu-scroll{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.hidden-menu{
    -moz-transform: translateY(-1000px);
    -webkit-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    transform: translateY(-1000px);
}

.hide-menu{opacity:0!important;}

@media(min-width:400px) and (max-width:600px){
    .menu-items{width:360px!important;}
    .menu-item{width:100px!important;}
    .submenu{width:320px!important; margin-left:30px!important;}
}

@media(min-width:600px){
    .menu-items{width:560px!important;}
    .menu-item{width:165px!important;}
    .menu-item i{
        width:100px!important; 
        height:100px!important; 
        border-radius:100px!important;
        line-height:102px!important;
        font-size:40px!important;
    }
    .menu-item em{ margin-top:20px!important; margin-left:24px;}
    .submenu{width:500px!important; margin-left:60px!important}
    .submenu a{width:165px!important;}
    .landing-socials{width:360px!important;}
    .landing-socials a{margin-left:11px!important; margin-right:11px!important;}
}

.landing-header{
    margin-left:20px;
    margin-right:20px;
}

.landing-header h1{
    height:70px;
    line-height:70px;
    font-weight:200 !important;
    /*text-transform: uppercase;*/
    width:100px;
    float:left;
    z-index:8;
    position:relative;
	color:#ba9e7b !important;
}

.landing-header .landing-remove{
    z-index:10;
    position:relative;
    width:60px;
    margin-top:10px;
    height:50px;
    line-height:50px;
    float:right;
    text-align:center;
    font-size:21px;
}

.menu-items{
    width:300px;
    margin:30px auto 30px auto;
}

.menu-item{
    width:80px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    margin-bottom:30px;
}

.menu-item i{
    position:absolute;
    width:75px;
    height:75px;
    left:50%;
    margin-left:-37px;
    line-height:75px;
    border-radius:75px;
    text-align:center;
    font-size:33px;
    transition:all 250ms ease;
}

.menu-item em{
    display:block;
    text-align:center;
    padding-top:85px;
    bottom:0px;
    font-size:15px;
    font-style:normal;
}

.submenu a{
    height:50px;
    line-height:50px;
}

.submenu{
    max-height:0px;
    overflow:hidden;
    width:300px;
    margin:0px auto 0px auto;
    transition:all 250ms ease;
}

.submenu-active{
    max-height:410px!important;
    transition:all 250ms ease;
}

.submenu-clear{
    clear:both;
    display:block;
    height:20px;
    width:100%;
}

.submenu a:last-child{
    margin-bottom:30px;
}

.submenu a{
    width:150px;
    float:left;
    margin-top:5px;
}

.transparent-backgrounds i{
    background-color:transparent!important;
}

.transparent-backgrounds .active-menu i{
    background-color:rgba(255,255,255,1);
}

.submenu a i{
    width:40px;
    height:40px;
    display:inline-block;
    line-height:40px;
    border-radius:40px;
    text-align:center;
    font-size:16px;
    position:absolute;
    margin-left:5px;
}

.submenu a em{
    font-size:12px;
    height:40px;
    line-height:40px;
    display:block;
    padding-left:60px;
    font-style:normal;
}

.submenu-clear{
    clear:both;
    height:30px;
}

.landing-socials{
    width:300px;
    margin-left:auto;
    margin-right:auto;
}

.landing-socials a{
    width:50px;
    height:50px;
    float:left;
    text-align:center;
    line-height:50px;
    margin-left:5px;
    margin-right:5px;
}

.landing-socials a i{
    font-size:18px;
    width:50px;
    height:50px;
    float:left;
    text-align:center;
    line-height:50px;
    border-radius:50px;
}

.landing-socials p{
    padding-top:20px;
}

/*Active Menu*/

.active-menu i, .active-submenu i{
    -webkit-animation-name: activemenu;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 0s;
    
    -moz-animation-name: activemenu;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 0s;
    
    animation-name: activemenu;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

@-moz-keyframes activemenu {  
    0% { transform: scale(1.05, 1.05); }
    50% { transform: scale(1.0, 1.0); }
    100% { transform: scale(1.05, 1.05); }
}

@-webkit-keyframes activemenu {  
    0% { transform: scale(1.05, 1.05); }
    50% { transform: scale(1.0, 1.0); }
    100% { transform: scale(1.05, 1.05); }
}

@keyframes activemenu {  
    0% { transform: scale(1.1, 1.1);}
    50% { transform: scale(1.0, 1.0);}
    100% { transform: scale(1.1, 1.1);}
}

.landing-dark .landing-menu-scroll{background-color:rgba(0,0,0,0.6);}
.landing-dark .landing-header h1{color:#FFFFFF; }
.landing-dark .landing-header {border-bottom:solid 1px rgba(255,255,255,0.1);}
.landing-dark .landing-remove{color:#FFFFFF;}
.landing-dark .menu-item i{color:rgba(255,255,255,1); border-width:1px!important;}
.landing-dark .menu-item em{color:#FFFFFF;}
.landing-dark .submenu a{color:#FFFFFF;}
.landing-dark .decoration{background-color:rgba(255,255,255,0.1)!important;}

.landing-light.transparent-backgrounds .menu-item i{color:rgba(0,0,0,1)!important; border-width:2px!important;}
.landing-light.transparent-backgrounds .submenu i{color:rgba(0,0,0,1)!important; border-width:2px!important;}
.landing-light.transparent-backgrounds .landing-socials i{ color:#1f1f1f!important; border-width:2px!important;}

.landing-light .landing-menu-scroll{background-color:rgba(255,255,255,0.9);}
.landing-light .landing-header h1{color:#1f1f1f; }
.landing-light .landing-header {border-bottom:solid 1px rgba(0,0,0,0.1);}
.landing-light .landing-remove{color:#1f1f1f;}
.landing-light .menu-item em{color:#1f1f1f;}
.landing-light .submenu a{color:#1f1f1f;}
.landing-light .decoration{background-color:rgba(0,0,0,0.1)!important;}

/*Swiper*/

.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Homepage Slider*/

.home-slider h4{
    width:100%;
    padding-top:30px;
    padding-bottom:40px;
    position:absolute;
    bottom:15px;
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-weight:500;
    line-height:30px;
}

.home-slider p{
    font-size:13px;
    position:absolute;
    bottom:0px;
    z-index:999;
    color:#FFFFFF;
    opacity:0.5;
    padding-left:20px;
    padding-right:20px;
    display:block;
    width:100%;
}

.home-round-slider{padding-top:10px;}
.home-round-slider img{
    border-radius:200px;
    margin-left:auto;
    margin-right:auto;
}

.home-img-1{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    left:50%;
    margin-left:-170px!important;
    opacity:0.7;
}

.home-img-2{
    width:200px;
    height:200px;
    position:relative;
    z-index:1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}

.home-img-3{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    right:50%;
    margin-right:-170px!important;
    opacity:0.7;
}

.home-round-slider h3{text-align:center; padding-top:20px;}
.home-round-slider em{display:block; font-style: normal; text-align:center;}
.center-socials{width:160px; margin-left:auto; margin-right:auto;}

/*Home Columns*/

.column-home-left i{
    font-size:46px;
    position:absolute;
    height:60px;
    margin-top:5px;
    width:40px;
    text-align:center;
}

.column-home-left em{
    font-style:normal;
    font-size:18px;
    position:absolute;
    height:40px;
    margin-top:7px;
    line-height:40px;
    border-radius:40px;
    width:40px;
    text-align:center;
}

.column-home-left h5{
    padding-left:60px;
}

.column-home-left h4{
    padding-left:60px;
}

.column-home-left p{
    padding-left:60px;
}

.column-home-center i{
    font-size:46px;
    height:60px;
    margin-top:5px;
    width:100%;
    display:block;
    text-align:center;
}

.column-home-center h5{
    text-align:center;
    font-size:18px;
    padding-bottom:10px;
}

.column-home-center p{
    text-align:center;
}

/*Footer*/

.footer{padding:30px 0px 30px 0px;}
.footer-bottom{padding-bottom:30px!important;}
.footer-dark{background-color:#0c1117;}
.footer-light{background-color:#ffffff; border-top:solid 1px #ffffff; border-bottom:solid 1px #e0e0e0;}
.footer-light .icon{color:#1f1f1f; border-width:2px!important;}
.footer-light .icon:hover{color:#1f1f1f; border-width:2px!important;}
.footer-light .icon i{display:block; width:30px!important; line-height:33px!important;}
.footer-light p{color:#1f1f1f;}
.footer-light .decoration{background-color:rgba(0,0,0,0.1)!important;}

.footer-dark .decoration{
    background-color:rgba(255,255,255,0.05);
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
}

.footer .footer-logo{
    background-image:url(../images/preload-logo.png);
    background-size:80px 80px;
    width:80px;
    height:80px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.copyright-text{margin-bottom:0px; margin-top:-10px; margin-bottom:0px;}

.footer p{
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.footer-socials{
    width:255px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-socials .icon-ghost{background-color:transparent!important;}

.footer-socials a{
    margin-left:2px!important;
    margin-right:2px!important;
}